{% set allPages = [
{ title: 'about', url: 'about.html' },
{ title: 'address', url: 'address.html' },
{ title: 'card', url: 'card.html' },
{ title: 'cart', url: 'cart.html' },
{ title: 'catalog', url: 'catalog.html' },
{ title: 'details', url: 'details.html' },
{ title: 'error404', url: 'error404.html' },
{ title: 'faq', url: 'faq.html' },
{ title: 'favorites', url: 'favorites.html' },
{ title: 'forgot-check', url: 'forgot-check.html' },
{ title: 'forgot-success', url: 'forgot-success.html' },
{ title: 'forgot', url: 'forgot.html' },
{ title: 'index', url: 'index.html' },
{ title: 'order-details', url: 'order-details.html' },
{ title: 'orders', url: 'orders.html' },
{ title: 'privacy-policy', url: 'privacy-policy.html' },
{ title: 'register', url: 'register.html' },
{ title: 'reset-password', url: 'reset-password.html' },
{ title: 'shipping', url: 'shipping.html' },
{ title: 'signin', url: 'signin.html' },
{ title: 'thank-you', url: 'thank-you.html' },
{ title: 'verify-email', url: 'verify-email.html' },
{title:'contacts' , url:'contacts.html'}
] %}