{% extends "template.njk" %} {% block content %}
<section class="section container">
  <div class="flex flex-col md:flex-row gap-8 md:gap-12">
    <aside class="flex flex-col gap-8 flex-none md:w-48">
      <h3 class="font-serif text-md hidden md:block">My account</h3>
      <nav class="flex">
        <ul class="flex overflow-auto sm:flex-col gap-5">
          <li
            class="flex text-gray-300 active max-sm:[&.active]:border-b max-sm:[&.active]:border-black max-sm:pb-3 [&.active]:text-black [&.active]:font-medium"
          >
            <a href="" class="flex items-center gap-1 md:gap-3 text-xs md:text-sm">
              <svg width="24" height="24">
                <use xlink:href="./assets/sprite.svg#deliverybox_sprite"></use>
              </svg>
              <span>Orders</span></a
            >
          </li>
          <li
            class="flex text-gray-300 max-sm:[&.active]:border-b max-sm:[&.active]:border-black max-sm:pb-3 [&.active]:text-black [&.active]:font-medium"
          >
            <a href="" class="flex items-center gap-1 md:gap-3 text-xs md:text-sm">
              <svg width="24" height="24">
                <use xlink:href="./assets/sprite.svg#recipt_sprite"></use>
              </svg>
              <span>Details</span></a
            >
          </li>
          <li
            class="flex text-gray-300 max-sm:[&.active]:border-b max-sm:[&.active]:border-black max-sm:pb-3 [&.active]:text-black [&.active]:font-medium"
          >
            <a href="" class="flex items-center gap-1 md:gap-3 text-xs md:text-sm">
              <svg width="24" height="24">
                <use xlink:href="./assets/sprite.svg#shop_sprite"></use>
              </svg>
              <span>Addresses</span></a
            >
          </li>
          <li
            class="flex text-gray-300 max-sm:[&.active]:border-b max-sm:[&.active]:border-black max-sm:pb-3 [&.active]:text-black [&.active]:font-medium"
          >
            <a href="" class="flex items-center gap-1 md:gap-3 text-xs md:text-sm">
              <svg width="24" height="24">
                <use xlink:href="./assets/sprite.svg#message_sprite"></use>
              </svg>
              <span>Preferences</span></a
            >
          </li>
          <li
            class="flex text-gray-300 max-sm:[&.active]:border-b max-sm:[&.active]:border-black max-sm:pb-3 [&.active]:text-black [&.active]:font-medium"
          >
            <a href="" class="flex items-center gap-1 md:gap-3 text-xs md:text-sm">
              <svg width="24" height="24">
                <use xlink:href="./assets/sprite.svg#alarm_sprite"></use>
              </svg>
              <span>Notifications</span></a
            >
          </li>
        </ul>
      </nav>
    </aside>
    <div class="flex flex-col items-start gap-10 w-full max-w-xl">
      <h1 class="text-lg font-serif">Account details</h1>
      <div class="flex border-t border-gray-100 pt-6 md:pt-8 w-full relative">
        <a href="" class="absolute underline right-0 ">Edit</a>
        <div class="flex flex-col gap-3  max-w-sm ">
          <div class="grid grid-cols-2 gap-6 items-center md:gap-2">
            <span class=>First name</span>
            <span class="font-medium">Ched</span>
          </div>
          <div class="grid grid-cols-2 gap-6 items-center md:gap-2">
            <span class=>Last name</span>
            <span class="font-medium">Fox</span>
          </div>
          <div class="grid grid-cols-2 gap-6 items-center md:gap-2">
            <span class=>Phone number</span>
            <span class="font-medium">+1 (000) 999-00-00</span>
          </div>
          <div class="grid grid-cols-2 gap-6 items-center md:gap-2">
            <span class=>Email address</span>
            <span class="font-medium">myemail2@mail.com</span>
          </div>
          <div class="grid grid-cols-2 gap-6 items-center md:gap-2">
            <span class=>Date of Birth</span>
            <span class="font-medium">10.07.2000</span>
          </div>
          <div class="grid grid-cols-2 gap-6 items-center md:gap-2">
            <span class=>Password</span>
            <span class="font-medium">******************</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
