{% extends "template.njk" %}

{% block content %}
  {% include 'hero.njk' %}
  {% include 'catalog.njk' %}
  {% include 'reviews.njk' %}
  {% include 'instagram.njk' %}
  {% include 'newsletter.njk' %}
{% endblock %}