{% extends "template.njk" %}
{% block content %}
  <section class="section container">
    <div class="flex flex-col md:flex-row gap-8 md:gap-12">
      <aside class="flex flex-col gap-8 flex-none md:w-48">
        <h3 class="font-serif text-md hidden md:block">My account</h3>
        <nav class="flex">
        <ul class="flex overflow-auto sm:flex-col gap-5">
            <li class="flex text-gray-300 active max-sm:[&.active]:border-b max-sm:[&.active]:border-black max-sm:pb-3 [&.active]:text-black [&.active]:font-medium">
              <a href="" class="flex items-center gap-1 md:gap-3 text-xs md:text-sm">
                <svg width="24" height="24">
                  <use xlink:href="./assets/sprite.svg#deliverybox_sprite"></use>
                </svg>
                <span>Orders</span></a
            >
            </li>
            <li class="flex text-gray-300 max-sm:[&.active]:border-b max-sm:[&.active]:border-black max-sm:pb-3 [&.active]:text-black [&.active]:font-medium">
              <a href="" class="flex items-center gap-1 md:gap-3 text-xs md:text-sm">
                <svg width="24" height="24">
                  <use xlink:href="./assets/sprite.svg#recipt_sprite"></use>
                </svg>
                <span>Details</span></a
            >
            </li>
            <li class="flex text-gray-300 max-sm:[&.active]:border-b max-sm:[&.active]:border-black max-sm:pb-3 [&.active]:text-black [&.active]:font-medium">
              <a href="" class="flex items-center gap-1 md:gap-3 text-xs md:text-sm">
                <svg width="24" height="24">
                  <use xlink:href="./assets/sprite.svg#shop_sprite"></use>
                </svg>
                <span>Addresses</span></a
            >
            </li>
            <li class="flex text-gray-300 max-sm:[&.active]:border-b max-sm:[&.active]:border-black max-sm:pb-3 [&.active]:text-black [&.active]:font-medium">
              <a href="" class="flex items-center gap-1 md:gap-3 text-xs md:text-sm">
                <svg width="24" height="24">
                  <use xlink:href="./assets/sprite.svg#message_sprite"></use>
                </svg>
                <span>Preferences</span></a
            >
            </li>
            <li class="flex text-gray-300 max-sm:[&.active]:border-b max-sm:[&.active]:border-black max-sm:pb-3 [&.active]:text-black [&.active]:font-medium">
              <a href="" class="flex items-center gap-1 md:gap-3 text-xs md:text-sm">
                <svg width="24" height="24">
                  <use xlink:href="./assets/sprite.svg#alarm_sprite"></use>
                </svg>
                <span>Notifications</span></a
            >
            </li>
          </ul>
        </nav>
      </aside>
      <div class="flex flex-col gap-10 w-full">
        <h1 class="text-lg font-serif ">My orders</h1>
        <div class="flex flex-col">
          {% for item in[1, 2, 3] %}
            <div class="flex flex-col py-6 md:py-8 border-t border-gray-100">
              <div class="flex justify-between mb-3">
                <h4 class="text-sm">Your order number is №12732-000012</h4>
                <data class="font-medium">188.95€ </data>
              </div>
              <div class="flex flex-col gap-3 mb-6">
                <div class="flex items-center gap-1">
                  <span class="text-gray-200">Date</span>
                  <span> 12.02.2023</span>
                </div>
                <div class="flex items-center gap-1">
                  <span class="text-gray-200">Status</span>
                  <span> Order in progress</span>
                </div>
              </div>
              <div class="flex flex-col gap-6 justify-between md:items-end md:flex-row">
                <div class="flex flex-wrap gap-3">
                  {% for item in[1, 2, 3] %}
                    <picture class="block w-[64px] h-[76px] rounded-lg overflow-hidden">
                      <img class="w-full h-full object-cover" src={% static './images/shop/' + item + '.jpg' %} alt="">
                    </picture>
                  {% endfor %}
                  <div class="flex text-xs font-medium items-center justify-center w-[64px] h-[76px] bg-[#FADFCC] rounded-lg">+3</div>
                </div>
                <a class="flex items-center text-sm group" href="">
                  <span>View details </span>
                  <svg width="24" height="24" class="transition-transform group-hover:translate-x-1">
                    <use xlink:href="./assets/sprite.svg#arrow-r-2_sprite"></use>
                  </svg>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

{% endblock %}