{% extends "template.njk" %} {% block content %}
<section class="">
  <div class="flex flex-col md:flex-row">
    <div class="flex-1 flex max-lg:container justify-end pt-8 md:pt-14 max-lg:pb-20 lg:pr-24">
      <div class="w-full max-w-xl flex flex-col">
        <h1 class="font-serif text-lg mb-5">Forgot your password?</h1>
        <p class="mb-12">Enter your email address and we'll send you a link to reset your password</p>
        <form class="flex flex-col gap-6 mb-7">
          <label class="flex flex-col gap-3" for="">
            <span class="text-xs">New password* </span>
            <div class="relative">
              <input
                class="bg-[transparent] w-full py-[14px] border-gray-100 rounded placeholder:text-gray-200 placeholder:text-sm text-sm"
                type="password"
                placeholder="password"
              />
              <button class="js-toggle-password block absolute right-4 top-0 bottom-0" type="button">
                <svg width="20" height="20">
                  <use xlink:href="./assets/sprite.svg#password_sprite"></use>
                </svg>
              </button>
            </div>
          </label>
          <label class="flex flex-col gap-3" for="">
            <span class="text-xs">Repeat password  </span>
            <div class="relative">
              <input
                class="bg-[transparent] w-full py-[14px] border-gray-100 rounded placeholder:text-gray-200 placeholder:text-sm text-sm"
                type="password"
                placeholder="password"
              />
              <button class="js-toggle-password block absolute right-4 top-0 bottom-0" type="button">
                <svg width="20" height="20">
                  <use xlink:href="./assets/sprite.svg#password_sprite"></use>
                </svg>
              </button>
            </div>
          </label>
          <button class="btn btn--black-filled uppercase">submit</button>
        </form>
        <a href="" class="text-sm uppercase text-center font-medium"> CANCEL </a>
      </div>
    </div>
    <picture class="flex-1 block h-screen"> <img src={% static './images/forgot.jpg' %} class="w-full h-full object-cover" alt=""> </picture>
  </div>
</section>

{% endblock %}
