<article class="card">
  <div class="mb-4 relative h-0 pb-[122%]">
    <div class="absolute top-2 right-2 flex flex-col items-end gap-1">
      <div class=" text-xs uppercase font-medium z-10 bg-red text-white py-1 px-2 rounded-lg">-15%</div>
      <div class="text-xs uppercase font-medium z-10 bg-white py-1 px-2 rounded-lg">NEUHEIT</div>
    </div>
    <button class="absolute bottom-2 right-2  gap-1 w-10 h-10 rounded-full bg-white flex items-center justify-center [ .js-add-favorite ] z-10 group">
      <svg width="20" height="20" viewBox="0 0 20 20" class="stroke-black fill-none transition-all hover:fill-red hover:stroke-red" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_541_24420)">
          <path d="M5 2.5L9.5 4L12 3L16 2L18 5.5L17.5 9.5L12.5 15.5L10 17.5L5 13.5L3 9.5L2 4.5L5 2.5Z"/>
          <path d="M9.99938 4.20421C4.2596 -1.16555 -5.46431 5.00031 9.99938 17.7379" stroke-width="1.5" stroke-linecap="round"/>
          <path d="M9.99867 4.20421C15.7385 -1.16555 25.4624 5.00031 9.99867 17.7379" stroke-width="1.5" stroke-linecap="round"/>
        </g>
        <defs>
          <clipPath id="clip0_541_24420">
            <rect width="20" height="20" fill="white"/>
          </clipPath>
        </defs>
      </svg>
    </button>
    <a href="#" class="absolute top-0 left-0 w-full h-full rounded-lg overflow-hidden group">
      <picture class="block absolute left-0 top-0 w-full h-full group-hover:opacity-0">
        <img src={% static './images/card.jpg' %} class="w-full h-full object-cover block" alt="">
      </picture>
      <picture class="absolute left-0 top-0 w-full h-full hidden group-hover:block">
        <img src={% static './images/card-2.jpg' %} class="w-full h-full object-cover block" alt="">
      </picture>
    </a>
  </div>
  <a href="#" class="flex flex-col gap-1">
    <h2 class="text-xs font-medium md:text-sm">Travis Scott x Air Jordan Graphic Hoody</h2>
    <p class="text-gray-200">Mid Gray</p>
    <p class="font-serif flex gap-[6px] ">
      <span class=>€177,51</span>
      <span class="relative before:content[''] before:block before:h-[1.5px] before:bg-red before:w-full before:absolute before:top-1/2 before:-translate-y-1/2">109,00€</span>
    </p>
  </a>
  <div class="flex flex-col mt-3 md:mt-6">
    <form action="" class="flex flex-col gap-1 md:gap-3">
      <fieldset class="flex flex-col">
        <legend class="text-gray-300 text-xs mb-3">Grösse</legend>
        <select name="" id="" class="bg-[transparent] border-gray-200">
          <option value="M">M</option>
          <option value="M">M</option>
          <option value="M">M</option>
          <option value="M">M</option>
          <option value="M">M</option>
        </select>
      </fieldset>
      <button class="btn btn--black-filled w-full font-medium uppercase text-[0.75rem] md:text-sm">
        In den warenkorb
      </button>
    </form>
  </div>

</article>