<section class="relative mb-5">
  <div class="h-[400px] sm:h-0 aspect-w-16 aspect-h-6">
    <picture class="block h-full w-full">
      <img src={% static './images/hero-slider/4.jpg' %} alt="" class="block w-full h-full object-cover">
    </picture>
    <div class="absolute container bottom-8  top-auto h-auto text-white flex flex-col items-center md:items-start md:bottom-16">
      <h2 class="font-serif text-xl mb-3 md:mb-4">Lixxi</h2>
      <p class="text-base mb-8">Made with love and care</p>
    </div>
  </div>
</section>