<section class="relative mb-5">
  <div class="swiper js-hero-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide h-[400px] sm:h-0 aspect-w-16 aspect-h-6 relative">
        <picture class="block h-full w-full image-gradient absolute inset-0">
          <img src={% static './images/h-1.jpg' %} alt="" class="block w-full h-full object-cover">
        </picture>
        <div
          class="absolute container bottom-16  top-auto h-auto text-white flex flex-col items-center md:items-start md:bottom-32">
          <h2 class="font-serif text-xl mb-3 md:mb-4">Winter/Autumn 23’</h2>
          <p class="text-base mb-5 md:mb-8">Ab 23.05.2023 auf dem Markt</p>
          <a href="" class="inline-block btn btn--primary text-xs">JETZT ENTDECKEN</a>
        </div>
      </div>
      <div class="swiper-slide h-[400px] sm:h-0 aspect-w-16 aspect-h-6 relative">
        <picture class="block h-full w-full image-gradient absolute inset-0">
          <img src={% static './images/h-2.jpg' %} alt="" class="block w-full h-full object-cover">
        </picture>
        <div
          class="absolute container bottom-16  top-auto h-auto text-white flex flex-col items-center md:items-start md:bottom-32">
          <h2 class="font-serif text-xl mb-3 md:mb-4">Winter/Autumn 23’</h2>
          <p class="text-base mb-5 md:mb-8">Ab 23.05.2023 auf dem Markt</p>
          <a href="" class="inline-block btn btn--primary text-xs">JETZT ENTDECKEN</a>
        </div>
      </div>
      <div class="swiper-slide h-[400px] sm:h-0 aspect-w-16 aspect-h-6 relative">
        <picture class="block h-full w-full image-gradient absolute inset-0">
          <img src={% static './images/h-3.jpg' %} alt="" class="block w-full h-full object-cover">
        </picture>
        <div
          class="absolute container bottom-16  top-auto h-auto text-white flex flex-col items-center md:items-start md:bottom-32">
          <h2 class="font-serif text-xl mb-3 md:mb-4">Winter/Autumn 23’</h2>
          <p class="text-base mb-5 md:mb-8">Ab 23.05.2023 auf dem Markt</p>
          <a href="" class="inline-block btn btn--primary text-xs">JETZT ENTDECKEN</a>
        </div>
      </div>
    </div>
    <div class="container absolute bottom-8 md:bottom-16 z-50 left-2/4 -translate-x-2/4">
      <div class="swiper-pagination slider-pagination justify-center md:justify-start"></div>
    </div>
  </div>
</section>